/* line 2, ../compass/sass/styles.scss */
body {
  background-color: lightblue;
}

/* line 5, ../compass/sass/styles.scss */
img {
  width: 100%;
}

/* line 8, ../compass/sass/styles.scss */
h1 {
  color: white;
  font-size: 50px;
}

/* line 13, ../compass/sass/styles.scss */
.tweetBanner img {
  max-height: 300px;
}

/* line 17, ../compass/sass/styles.scss */
.central {
  height: 100px;
}

/* line 21, ../compass/sass/styles.scss */
.tweetBanner {
  border: 2px solid black;
  margin-bottom: 20px;
  border-radius: 20px;
}

/* line 26, ../compass/sass/styles.scss */
li {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

/* line 31, ../compass/sass/styles.scss */
.page-header {
  position: fixed;
  padding: 0;
  margin: 0;
  background-image: url("../banner.jpeg");
  width: 100%;
}

/* line 39, ../compass/sass/styles.scss */
.f1 {
  font-size: 15px;
  font-style: italic;
}
