
<h1>Olympic Cyborg Tweets</h1>
<img src="images.runner.jpg">
<p>TWO DAYS INTO the Summer Olympic Games, spectators got their first morsel of doping-related drama. Yulia Efimova, the Russian swimmer who was suspended for doping but still allowed to compete, placed first in her semifinal. In response, in front of a crowd of reporters, US swimmer Lilly King wagged her finger at Efimova. “You’ve been caught for drug cheating, I’m just not a fan,” King told NBC afterwards. “I’m here to compete clean for the US.”

Everyone got King’s meaning. But from the strictest purist’s perspective, no one at the Olympics is there to “compete clean.”

That’s not to say everyone competing at the Games is embroiled in a doping scandal. But most conversations about what athletes put inside their bodies to enhance athletic performance wholly ignore what athletes put on their bodies to enhance athletic performance. Today’s Olympic equipment—from algorithmically generated racing spikes to utrasonically bonded swimsuits to asymmetrical track bikes—are designed in labs, by researchers and engineers, to maximize human potential. Today’s elite athletes depend on these technologies, and can’t expect to score a medal without them. In 2016, most Olympic events have passed a significant inflection point; no longer do they test the mettle of an elite athlete. Today, they test the mettle of cyborgian, athlete-equipment dyads.</p>

<h3>#Tweets</h3>

<p>One example where a new technology made a huge difference: Pole vault. Decades ago, when pole vault poles transitioned to stronger/more flexible materials (fiberglass and various composites), the world record in this event lept higher in just a few years.
